.inline-template-box{
  width: 100px;
  height: 100px;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-radius: 10px;
  padding: 5px;
}
span{
  font-size: 14px;
  color: #000;
}